Task 1 :
Register and login
Register fields with validation 

1. Name
2. Mail
3. Phone number
4. Password
5. Confirm password

Task 2 : 
CRUD operation - create, edit, delete and details
Field with validation:
1. Emp name
2. Emp department - drop-down use some options
3. Emp designation
4. Emp mail
5. Emp phone number